.promo {
  padding: 60px 0;
}

.promo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.promo-block {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 234px;
  margin-bottom: 20px;
  text-align: center;

  background: linear-gradient(180deg, #1C1C24 0%, #1C1C24 100%);
  box-shadow: -5px -5px 10px rgba(56, 57, 77, 0.5), 5px 5px 10px #0F121B;
  border-radius: 20px;
  overflow: hidden;
}

.promo-block-1 {
  width: 58%;
}

.promo-block-2 {
  width: 40%;
}