<footer class="footer">
  <div class="container">
    <div class="footer-row">
      <a href="/" class="navbar-brand">
        <img src="images/logo.svg" alt="Logo">
        <span class="navbar-brand-text">Сервис по поиску сим-карт</span>
      </a>
      <div class="btn-safe">
        <a href="#" class="btn">
          <span class="krug krug-1"></span>
          <span class="krug krug-2"></span>
          @@include('../images/icon-safe.svg')
        </a>
        <span>Все права защищены ©</span>
      </div>
      <div class="btn-connect">
        <span class="btn-text">Связаться с нами</span>
        <a href="#" class="btn">
          <span class="krug krug-1"></span>
          <span class="krug krug-2"></span>
          @@include('../images/icon-connect.svg')</a>
      </div>
    </div>
  </div>
</footer>