<header class="header">
  <div class="container">
    <!-- <div class="row"> -->
      <nav class="navbar w-100">
          <a href="/" class="navbar-brand">
            <!-- simcards.shop -->
            <img src="images/logo.svg" alt="Logo">
          </a>
          <div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navMenu" aria-controls="navMenu" aria-expanded="false" aria-label="Кнопка меню">
              <span class="navbar-toggler-line"></span>
              <span class="navbar-toggler-line"></span>
              <span class="navbar-toggler-line"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse order-2 order-lg-0" id="navMenu">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a href="/about.html" class="nav-link">О компании</a>
              </li>
              <li class="nav-item">
                <a href="/for-partners.html" class="nav-link">Партнерам</a>
              </li>
              <li class="nav-item">
                <a href="/articles.html" class="nav-link">Статьи</a>
              </li>
              <li class="nav-item">
                <a href="/contacts.html" class="nav-link">Контакты</a>
              </li>
            </ul>
          </div>
      </nav>
    <!-- </div> -->
  </div>
</header>